/*font*/
@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300&display=swap');

/*tagnames*/

html {
    color: black;
    background-color: white;
    font-family: "Hind Siliguri", sans-serif;
    overflow-x: hidden;
    text-align: center;
}
div {
    width: 98%;
    padding: 2%;
    padding-bottom: 0%;
    padding-top: 5%;
}
div img {
    height: 50.4px;
}
iframe {
    width: 99%;
}
p {
    width: 50%;
    margin-left: 13%;
    margin-right: 13%;
    text-align: center;
}
.header button {
    color: white;
    outline: none;
    border: none;
    background: #2d3763;
    padding: 24px 48px;
}
.header button:hover {
    color: white;
    background-color: #3e487f;
    cursor: pointer;
}
.header {
    width: 100%;
    position: absolute;
    left: 0px;
    top: 0%;
    background: #2d376e;
    padding-left: 0px;
    padding-top: 0px;
    width: 100%;
    text-align: right;
}

.nav:hover {
    color: white;
    background-color: #3e487f;
    cursor: pointer;
}
.footer-container {
    height: 5em;
    font-size: 1.5em;
}
#banner {
    background-color: #e5cf00;
    height: 5.5px;
    position: absolute;
    left: 0px;
    top: 55px;
    z-index: 0;
}
#banner h2 {
    position: absolute;
    top: 4.5%;
    left: 50%;
}
#banner button {
    position: absolute;
    top: 10%;
    left: 90%;
}
#footer {
    padding: 2%;
    text-align: center;
    width: 100%;
    min-height: 3em;
    min-width: 100%;
}
#footer img {
    display: inline-block;
    margin: 0px;
}
#header-logo {
    height: 50.4px;
    position: absolute;
    left: 2%;
    top: 12%;
    padding-right: 5%;
}
p {
    width: 50%;
    margin-left: 13%;
    margin-right: 13%;
    text-align: center;
}