/*font*/
@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300&display=swap');

/*tagnames*/
img {
    height: 52.4px;
    width: 44.33px;
}
html {
    color: black;
    background-color: white;
    font-family: "Hind Siliguri", sans-serif;
    text-align: center;
    overflow-x: hidden;
}
iframe {
    width: 99%;
}

.nav, .nav-container {
    color: white;
    outline: none;
    border: none;
    background: #2d376e;
}
.nav-container {
    position: relative;
    background: #2d376e;
    left: 0px;
    top: 0px;
    padding-left: 0px;
    padding-top: 0px;
    width: 100%;
    text-align: right;
}
.nav {
    padding: 24px 48px;
    float: right;
}
.nav:hover {
    color: white;
    background-color: #3e487f;
    cursor: pointer;
}
.footer-container {
    height: 5em;
    font-size: 1.5em;
}
.nav-container img {
    height: 55px;
    position: absolute;
    left: 4px;
    top: 5px;
}
#header {
    display: inline;
}
#main-content {
    padding: 2%;
    height: 600px;
}
#footer {
    padding: 2%;
    text-align: center;
    width: 100%;
    min-height: 3em;
    min-width: 100%;
}
#footer img {
    display: inline-block;
    margin: 0px;
}